<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    	<!-- Main -->
				<div class="wrapper style2">

                    <article id="main" class="container special">
						<header>
							<h2><a href="#">Global claims data</a></h2>
						</header>
                        <article>
                            <header>
                                <h3>ClaimsKG Statistical Observatory</h3>
                            </header>
                            <p>
                                assertions<br>
                                Depuis<br>
                                auteurs<br>
                                entités<br>
                                mots clés<br>
                            </p>
                        </article>
                        <article>
                            <header>
                                <h3>Global claims labels rate</h3>
                            </header>
                            <div class="chart" id="piechart2">
                                <script>
                                    var graphs = {{plot1 | safe}};
                                    Plotly.plot('piechart2',graphs,{});
                                </script>
                            </div>
                        </article>
{#                            <article>#}
{#                                <section>#}
{#                                    <header>#}
{#                                        <h3><a href="#">Global claims metadata</a></h3>#}
{#                                    </header>#}
{#                                    <div class="chart" id="barchart1">#}
{#                                        <section>#}
{#                                            <header>#}
{#                                            <h3><a href="#">Métadonnées globales des assertions</a></h3>#}
{#                                            </header>#}
{#                                            <script>#}
{#                                                var graphs = {{plot3 | safe}};#}
{#                                                Plotly.plot('barchart1',graphs,{});#}
{#                                            </script>#}
{#                                        </section>#}
{#                                    </div>#}
{#                                 </section>#}
{#                                    <div class="chart"#}
{#                                    </div>#}
{#                            </article>#}
					</article>
				</div>

</body>
</html>